*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	}
.border_1{
	width:100%;
	height:30px;
	background:#F1F1F1;
	}
.border{
	width:1100px;
	height:30px;
	margin:0 auto;
	font-size:12px;
	}
.border_left{
	width:100px;
	height:30px;
	line-height:30px;
	float:left;
	position:relative;
	}
.dis_none{
	position:absolute;
	left:-1px;
	top:30px;
	width:300px;
	height:200px;
	display:none;
	border:1px solid #ccc;
	background:white;
	opacity:1;
	z-index:99;
	}
.dis_none2{
	width:100px;
	height:5px;
	position:absolute;
	top:30px;
	left:0;
	background:white;
	opacity:1;
	z-index:99;
	display:none;
	
	}
.dis_none ul li{
	float:left;
	height:30px;
	padding:5px 10px;
	margin-right:5px;
	}
.border_left:hover .dis_none,.dis_none2{
	display:block;
	}

.border:hover .border_left{
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	background:white;
	}
.border_left:hover .border_span1{
	-webkit-transform:rotate(180deg) !important;
	}
.border_span1{
	display:inline-block;
	font-size:12px;
	margin-left:5px;
	color:#ccc;
	}
.border_span2{
	font-size:12px;
	margin-right:5px;
	}
.border_right{
	width:900px;
	height:30px;
	float:right;
	}
.border_right ul li{
	float:left;
	height:20px;
	line-height:20px;
	margin-top:5px;
	padding:0 14px;
	border-right:1px solid #ccc;
	}
.border_li1{
	margin-right:0 !important;
	border-right:0 solid white !important;
	}
	
.shopping{
	width:1100px;
	height:80px;
	margin:0 auto;
	}
.sh_span1{
	display:inline-block;
	margin-top:10px;
	width:170px;
	height:60px;
	background:url(../img/logo.png) 0 0;
	}
.sh_span2{
	display:inline-block;
	width:80px;
	height:80px;
	position:absolute;
	top:0;
	right:0;
	text-align:center;
	line-height:80px;
	font-weight:800;
	}
.sh_left{
	width:250px;
	height:100%;
	float:left;
	position:relative;
	}
.sh_right{
	width:244px;
	height:80px;
	float:right;
	position:relative;
	}
.right_input1{
	width:200px;
	height:30px;
	border:2px solid red;
	margin-top:23px;
	}
.right_span1{
	display:inline-block;
	width:40px;
	height:34px;
	background:red;
	position:absolute;
	top:23px;
	right:0;
	text-align:center;
	line-height:34px;
	color:white;
	}
.cart_empty{
	width:1100px;
	height:160px;
	margin:0 auto;
	}
.cart_center{
	width:500px;
	height:160px;
	margin-left:325px;
	margin-top:80px;
	position:relative;
	}
.center_span1{
	position:absolute;
	left:71px;
	top:15px;
	color:#666;
	}
.center_button{
	width:40px;
	height:25px;
	border-radius:5px;
	background:#EB3C3F;
	border:1px solid #EB3C3F;
	color:white;
	text-align:center;
	line-height:25px;
	cursor:pointer;
	}
.center_a{
	margin-left:10px;
	font-size:12px;
	color:#005EA7;
	}
.else_1{
	width:1100px;
	height:40px;
	margin:0 auto;
	}
.else_1 ul li{
	float:left;
	color:#666;
	height:30px;
	width:60px;
	text-align:center;
	line-height:30px;
	margin-right:10px;
	font-size:12px;
	cursor:pointer;
	}
.else_2{
	color:red !important;
	font-weight:800;
	border-bottom:2px solid red;
	}
.content{
	width:1100px;
	height:300px;
	margin:0 auto;
	position:relative;
	}
.else_3{
	width:1100px;
	height:300px;
	margin:0 auto;
	}
.else_3:hover .else_left{
	display:block;
	}
.else_3:hover .else_right{
	display:block;
	}
.else_3 ul li{
	float:left;
	width:273px;
	height:300px;
	border:1px dashed #ccc;
	}
.else_3 ul li:hover{
	border:1px solid red;
	}
.img_1{
	width:100%;
	height:180px;
	text-align:center;
	}
.else3_span1{
	display:inline-block;
	width:200px;
	height:30px;
	margin:5px 36px;
	overflow:hidden;
	font-size:12px;
	}
.else3_span2{
	display:inline-block;
	width:100%;
	height:20px;
	text-align:center;
	line-height:20px;
	font-size:14px;
	color:red;
	}
.gouwuche{
	width:180px;
	height:30px;
	margin-left:46px;
	border:1px solid #ccc;
	border-radius:10px;
	text-align:center;
	line-height:30px;
	color:#666;
	margin-top:10px;
	cursor:pointer;
	}
.else3_span3{
	margin-right:5px;
	}
.my_look{
	width:1100px;
	height:300px;
	margin:0 auto;
	text-align:center;
	line-height:30px;
	display:none;
	}
.last_look{
	width:1100px;
	height:300px;
	margin:0 auto;
	text-align:center;
	line-height:30px;
	display:none;
	}
.else_left{
	position:absolute;
	display:none;
	width:30px;
	height:100px;
	left:0;
	top:100px;
	background:#F2F2F2;
	text-align:center;
	line-height:100px;
	font-size:42px;
	color:#999;
	cursor:pointer;
	}
.else_left:hover{
	background:rgba(0,0,0,0.2);
	}
.else_right:hover{
	background:rgba(0,0,0,0.2);
	}
.else_right{
	position:absolute;
	display:none;
	width:30px;
	height:100px;
	right:0;
	top:100px;
	background:#F2F2F2;
	text-align:center;
	line-height:100px;
	font-size:42px;
	color:#999;
	cursor:pointer;
	}
	
	
.bottom{
	width:100%;
	height:578px;
	margin-top:50px;
	}
.bottom_1{
	width:1300px;
	height:100%;
	margin:0 auto;
	}
.bottom_top{
	width:100%;
	height:80px;
	border-bottom:1px solid #666;
	}
.bottom_top ul li{
	float:left;
	width:275px;
	height:50px;
	margin-right:25px;
	line-height:50px;
	font-size:24px;
	corlor:#666;
	margin-top:15px;
	vertical-align:top;
	}
.bottom_li1{
	margin-left:100px;
	}
.bottom_li2{
	margin-right:100px;
	}
.bottom_center{
	width:100%;
	height:290px;
	border-bottom:1px solid #666;
	}
.bottom_center ul li{
	margin-top:20px;
	float:left;
	margin-right:80px;
	height:200px;
	width:150px;
	color:#666;
	}
.bottom_center ul li p{
	font-weight:800;
	}
.center_li1{
	margin-left:0 !important;
	}
.center_li6{
	margin-right:0 !important;
	}
.bottom_center ul li ul li{
	width:100%;
	height:20px;
	font-size:12px;
	}
.center_p2{
	font-weight:400 !important;
	margin-top:20px;
	}
.center_li6 i{
	margin-left:50px;
	font-style:normal;
	}
.i1{
	font-size:12px;
	margin-left:2px;
	}
.bottom_center2 ul{
	width:1100px;
	height:30px;
	margin:0 auto;
	margin-top:10px;
	}

.bottom_center2 ul li{
	float:left;
	height:20px;
	line-height:20px;
	margin-right:10px;
	margin-top:5px;
	border-right:1px solid #666;
	padding:0 8px;
	font-size:12px;
	}
.bottom_center3 ul{
	width:1000px;
	height:30px;
	margin:0 auto;
	margin-top:20px;
	text-align:center;
	}
.bottom_center3 ul li{
	float:left;
	height:20px;
	line-height:20px;
	border-right:1px solid #666;
	font-size:12px;
	margin-right:5px;
	padding:0 10px;
	}
.noborder{
	border-right:0px solid white !important;
	}
	
.bottom_p1{
	width:655px;
	height:30px;
	margin:0 auto;
	}
.bottom_p2{
	width:250px;
	height:120px;
	margin:0 auto;
	}
.bottom_span1{
	display:inline-block;
	width:36px;
	height:42px;
	background:url(../img/ico_service.png) 0 0;
	margin-top:4px;
	margin-right:8px;
	margin-left:5px;
	}
.bottom_span2{
	display:inline-block;
	width:36px;
	height:42px;
	background:url(../img/ico_service.png) 0 -42px;
	margin-top:4px;
	margin-right:8px;
	margin-left:5px;
	}
.bottom_span3{
	display:inline-block;
	width:36px;
	height:42px;
	background:url(../img/ico_service.png) 0 -84px;
	margin-top:4px;
	margin-right:8px;
	margin-left:5px;
	}
.bottom_span4{
	display:inline-block;
	width:36px;
	height:42px;
	background:url(../img/ico_service.png) 0 -126px;
	margin-top:4px;
	margin-right:8px;
	margin-left:5px;
	}