*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	}
.border{
	width:1100px;
	height:30px;
	margin:0 auto;
	font-size:12px;
	}
.border_left{
	width:100px;
	height:30px;
	line-height:30px;
	float:left;
	}
.border_span1{
	font-size:12px;
	margin-left:5px;
	color:#ccc;
	}
.border_span2{
	font-size:12px;
	margin-right:5px;
	}
.border_right{
	width:900px;
	height:30px;
	float:right;
	}
.border_right ul li{
	float:left;
	height:20px;
	line-height:20px;
	margin-top:5px;
	padding:0 14px;
	border-right:1px solid #ccc;
	}
.border_li1{
	margin-right:0 !important;
	border-right:0 solid white !important;
	}
/*border   end*/

.part_2{
	width:100%;
	height:80px;
	background:#e45050;
	}
.part_2 ul li{
	float:left;
	}
.part_2 ul{
	width:1100px;
	height:80px;
	margin:0 auto;
	background:#e45050;
	}
.nav_1{
	width:290px;
	height:100%;
	}
.bg{
	display:inline-block;
	margin-top:10px;
	width:158px;
	height:65px;
	background:url(../img/logo1.png) 0 -11px;
	}
.bg_1{
	display:inline-block;
	width:110px;
	height:30px;
	color:white;
	font-size:20px;
	margin-top:18px;
	}
.bg_2{
	display:inline-block;
	width:80px;
	height:17px;
	color:#ccc;
	font-size:12px;
	border:1px solid #ccc;
	border-radius:15px;
	text-align:center;
	line-height:17px;
	}
.nav_2{
	width:110px;
	height:100%;
	float:right;
	}

.nav_span1{
	font-size:12px;
	font-weight:800;
	color:#fff;
	}
.nav_3{
	width:390px;
	height:100%;
	}
.nav_3 ol li{
	padding:30px 20px;
	color:#fff;
	}

.nav_4{
	position:relative;
	width:350px;
	height:32px;
	margin-top:24px;
	}
.nav_input1{
	width:150px;
	height:30px;
	border:1px solid white;
	position:absolute;
	left:0;
	top:0;
	}
.nav_span2{
	display:inline-block;
	width:35px;
	height:32px;
	text-align:center;
	line-height:32px;
	margin-left:-8px;
	background:white;
	position:absolute;
	font-size:12px;
	left:150px;
	top:0;
	}
	
.nav_5{
	width:160px;
	height:32px;
	background:white;
	float:right;
	color:#666;
	line-height:32px;
	font-size:12px;
	}
.nav_span3{
	color:red;
	margin-left:10px;
	margin-right:5px;
	}
.nav_span4{
	color:#666;
	font-size:12px;
	margin-left:20px;
	}
	
.part_3{
	width:1100px;
	height:110px;
	background:#fff;
	margin:0 auto;
	}
.part_3 b{
	display:inline-block;
	width:115px;
	height:40px;
	text-align:center;
	line-height:40px;
	color:#666;
	}
.step{
	width:600px;
	height:30px;
	text-align:center;
	line-height:30px;
	margin:0 auto;
	margin-top:15px;
	position:relative;
	}
.step ul li{
	width:150px;
	height:10px;
	background:#7abd54;
	float:left;
	position:relative;
	}
.step_span{
	display:inline-block;
	width:26px;
	height:24px;
	background:url(../img/step2013.png) -23px 0;
	text-align:center;
	line-height:24px;
	position:absolute;
	left:63px;
	top:-7px;
	}
.step_2{
	width:150px;
	height:10px;
	background:#ccc !important;
	border-radius:0 !important;
	}
.step_span2{
	display:inline-block;
	width:22px;
	height:24px;
	background:url(../img/step2013.png) 0 0;
	text-align:center;
	line-height:24px;
	position:absolute;
	left:63px;
	top:-7px;
	}
.s{
	display:block;
	width:10px;
	height:10px;
	border-radius:10px;
	background:#7abd54;
	position:absolute;
	top:0;
	left:-5px;
	}
.d{
	display:block;
	width:10px;
	height:10px;
	border-radius:10px;
	background:#7abd54;
	position:absolute;
	top:0;
	left:145px;
	}
.part_4{
	width:430px;
	height:180px;
	margin:0 auto;
	color:#666;
	position:relative;
	}
.part4_input{
	width:225px;
	height:25px;
	border:1px solid #ccc;
	}
.part4_p2{
	position:relative;
	}
.part4_p{
	margin-top:22px;
	}
.position{/*
	display:block;*/
	color:#666;
	width:195px;
	height:20px;
	font-size:12px;
	position:absolute;
	left:77px;
	top:28px;
	visibility:hidden;
	}
.part4_bt{
	width:50px;
	height:30px;
	border:1px solid #bfd6af;
	background:#f5fbef;
	position:absolute;
	left:140px;
	top:85px;
	}
	
	
.bottom{
	width:100%;
	height:578px;
	background:#ccc;
	
	}
.bottom_1{
	width:1300px;
	height:100%;
	margin:0 auto;
	}
.bottom_top{
	width:100%;
	height:80px;
	border-bottom:1px solid #666;
	}
.bottom_top ul li{
	float:left;
	width:275px;
	height:50px;
	margin-right:25px;
	line-height:50px;
	font-size:24px;
	corlor:#666;
	margin-top:15px;
	vertical-align:top;
	}
.bottom_li1{
	margin-left:100px;
	}
.bottom_li2{
	margin-right:100px;
	}
.bottom_center{
	width:100%;
	height:290px;
	border-bottom:1px solid #666;
	}
.bottom_center ul li{
	margin-top:20px;
	float:left;
	margin-right:80px;
	height:200px;
	width:150px;
	color:#666;
	}
.bottom_center ul li p{
	font-weight:800;
	}
.center_li1{
	margin-left:0 !important;
	}
.center_li6{
	margin-right:0 !important;
	}
.bottom_center ul li ul li{
	width:100%;
	height:20px;
	font-size:12px;
	}
.center_p2{
	font-weight:400 !important;
	margin-top:20px;
	}
.center_li6 i{
	margin-left:50px;
	font-style:normal;
	}
.i1{
	font-size:12px;
	margin-left:2px;
	}
.bottom_center2 ul{
	width:1100px;
	height:30px;
	margin:0 auto;
	margin-top:10px;
	background:red;
	}

.bottom_center2 ul li{
	float:left;
	height:20px;
	line-height:20px;
	margin-right:10px;
	margin-top:5px;
	border-right:1px solid #666;
	padding:0 8px;
	font-size:12px;
	}
.bottom_center3 ul{
	width:1000px;
	height:30px;
	margin:0 auto;
	margin-top:20px;
	text-align:center;
	}
.bottom_center3 ul li{
	float:left;
	height:20px;
	line-height:20px;
	border-right:1px solid #666;
	font-size:12px;
	margin-right:5px;
	padding:0 10px;
	}
.noborder{
	border-right:0px solid white !important;
	}
.bottom_span1{
	display:inline-block;
	width:36px;
	height:42px;
	background:url(../img/ico_service.png) 0 0;
	margin-top:4px;
	margin-right:8px;
	margin-left:5px;
	}
.bottom_span2{
	display:inline-block;
	width:36px;
	height:42px;
	background:url(../img/ico_service.png) 0 -42px;
	margin-top:4px;
	margin-right:8px;
	margin-left:5px;
	}
.bottom_span3{
	display:inline-block;
	width:36px;
	height:43px;
	background:url(../img/ico_service.png) 0 -85px;
	margin-top:4px;
	margin-right:8px;
	margin-left:5px;
	}
.bottom_span4{
	display:inline-block;
	width:36px;
	height:43px;
	background:url(../img/ico_service.png) 0 -128px;
	margin-top:4px;
	margin-right:8px;
	margin-left:5px;
	}