*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	}
.border{
	width:100%;
	height:55px;
	background:#51b7ec;
	}
.border1{
	width:800px;
	height:55px;
	margin:0 auto;
	}
.border1_left{
	width:125px;
	height:100%;
	float:left;
	}
.border1_span1{
	display:inline-block;
	width:39px;
	height:44px;
	background:url(../img/QQ.png) 0 0;
	margin-top:5px;
	}
.border1_span2{
	display:inline-block;
	width:75px;
	height:55px;
	line-height:55px;
	color:white;
	font-size:24px;
	margin-left:10px;
	float:right;
	}
.border1_right{
	width:210px;
	height:100%;
	float:right;
	color:white;
	font-size:12px;
	position:relative;
	}
.right_span1{
	position:absolute;
	left:0;
	top:21px;
	
	}
.border1_right ul{
	position:absolute;
	left:22px;
	top:20px;
	}
.border1_right ul li{
	list-style:none;
	font-size:14px;
	float:left;
	padding:0 5px;
	border-right:1px solid white;
	}
.second{
	width:800px;
	height:290px;
	margin:0 auto;
	position:relative;
	}
.sencond_left{
	width:220px;
	height:200px;
	padding:30px 100px;
	border-right:1px dashed #ccc;
	}
.left_p2{
	color:#666;
	font-size:18px;
	margin-bottom:10px;
	margin-top:10px;
	}
.second_right{
	width:330px;
	height:260px;
	position:absolute;
	right:0;
	top:0;
	}
.second_right ul li{
	font-size:14px;
	color:#666;
	padding:15px 5px;
	border-bottom:1px dashed #ccc;
	}
.end{
	width:800px;
	height:20px;
	margin:0 auto;
	}
.end ul{
	width:275px;
	height:20px;
	margin:0 auto;
	}
.end ul li{
	float:left;
	padding:5px 10px;
	color:#666;
	font-size:14px;
	border-right:1px solid #ccc;
	}
.end ul li a{
	color:#666;
	}