*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	}
.border{
	width:1100px;
	height:30px;
	margin:0 auto;
	font-size:12px;
	}
.border_left{
	width:100px;
	height:30px;
	line-height:30px;
	float:left;
	}
.border_span1{
	font-size:12px;
	margin-left:5px;
	color:#ccc;
	}
.border_span2{
	font-size:12px;
	margin-right:5px;
	}
.border_right{
	width:900px;
	height:30px;
	float:right;
	}
.border_right ul li{
	float:left;
	height:20px;
	line-height:20px;
	margin-top:5px;
	padding:0 14px;
	border-right:1px solid #ccc;
	}
.border_li1{
	margin-right:0 !important;
	border-right:0 solid white !important;
	}
.logo{
	width:700px;
	height:30px;
	margin:0 auto;
	margin-top:10px;
	}
.centent{
	width:700px;
	height:500px;
	background:white;
	margin:0 auto;
	margin-top:40px;
	border:1px solid #888;
	border-radius:15px;
	}
h2{
	color:red;
	text-align:center;
	}
.centent ul{
	width:600px;
	height:120px;
	margin:0 auto;
	margin-top:10px;
	font-size:12px;
	color:#666;
	}
.centent ul li{
	margin-bottom:10px;
	}
.centent ol{
	width:545px;
	height:200px;
	margin:0 auto;
	font-size:12px;
	color:#666;
	}
.centent ol li{
	margin-bottom:10px;
	}